<div class="p-4">
    <div class="container">
        <h1>Chat</h1>
        <div class="chat row">
            <div class="groups-list col-sm-3">
                <div *ngFor="let item of groups" class="btn btn-primary m-1" style="width:100%" onclick="getGroup()">
                    {{item.name}}
                </div>
            </div>
            <div class="group-chat col-sm-9">
                <h2 class="card-header">Group</h2>
                <div class="chat-body" id="chat-body">
                    <ul class="all-messages" id="messages">
                        <li class="my-message">hello</li>
                        <li class="foreign-message">hello guys</li>
                    </ul>
                </div>
                <form [formGroup]="groupForm" (ngSubmit)="onSubmit()" class="card-body" >
                    <input type="text" formControlName="GroupName" class="form-control"/>
                    <div class="form-group" style="display: flex;flex-direction: row;">
                        <input type="text" formControlName="MessageText" class="form-control"/>
                        <button class="btn btn-primary">Send</button>
                    </div>
                </form>

                <div class="myDiv">
                    
                </div>
            </div>
        </div>
        
        
    </div>
</div>